/* Setup our boxes to be sized with border-box, not content-box. */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 50px;
  font-size: 16px;
}

/* Borders for layout purposes only */
.site-wrapper { border: 3px solid black; }
header { border: 3px dashed blue; }
nav { border: 3px dashed yellow; }
.hero { border: 3px dashed green; }
.site-description { border: 3px dashed red; }
.signup-form { border: 3px dashed purple; }
footer { border: 3px dashed pink; }

.site-wrapper {
  max-width: 9  00px;
  margin: 0 auto;
}

header {
  padding: 20px;
  font-size: 2rem;
  text-align: center;
}

nav ul {
  display: flex;
}

nav li {
  background: rgba(40, 0, 0, 0.3);
  padding: 20px;
}

.hero img {
  width: 100%;
  object-fit: contain;
}

.site-description {
  padding: 20px;
}

.signup-form form {
  display: flex;
  justify-content: center;
}

.signup-form h2 {
  text-align: center;
}

footer {
  text-align: center;
}