/*

Site Color Pallette

blue
background: rgba(19, 27, 174, 0.7);

yellow
background: rgba(250, 225, 0, 1);

orange
background: rgba(250, 139, 0, 1);

*/


/* Setup our boxes to be sized with border-box, not content-box. */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 50px;
  font-size: 16px;
}

/* Borders for layout purposes only */
/*.site-wrapper { border: 3px solid black; }*/
/*header { border: 3px dashed blue; }*/
/*nav { border: 3px dashed yellow; }*/
/*.hero { border: 3px dashed green; }*/
/*.site-description { border: 3px dashed red; }*/
/*.signup-form { border: 3px dashed purple; }*/
/*footer { border: 3px dashed pink; }*/

.site-wrapper {
  max-width: 900px;
  margin: 0 auto;
}

header {
  padding: 40px;
  font-size: 2.5rem;
  text-align: center;
  color: #fff;
  background: rgba(19, 27, 174, 0.7);
}

nav ul {
  display: flex;
  justify-content: center;
}

nav li {
  background: rgba(250, 225, 0, 1);
  padding: 20px;
  flex: 3;
  border: 1px solid #8795a1;
}

nav li.social-nav {
  flex: 1;
}

nav li a {
  text-decoration: none;
  color: #000;
}

.hero img {
  width: 100%;
  object-fit: contain;
}

.site-description {
  text-align: center;
  font-size: 1.25rem;
  letter-spacing: 1px;
  line-height: 2rem;
  color: #fff;
  padding: 20px;
  background: rgba(19, 27, 174, 0.7);
}

.signup-form {
  padding: 20px;
  background: rgba(250, 139, 0, 1);
}

.signup-form form {
  display: flex;
  justify-content: center;
}

form input {
  min-height: 30px;
  max-width: 250px;
  margin: 10px;
  flex: 3;
}

form input[type="submit"] {
  flex: 1;
  max-width: 120px;
  background: rgba(10,10, 256, 1);
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
}

.signup-form h2 {
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  text-shadow: 2px 2px 4px #000;
  padding: 10px;
}

footer {
  text-align: center;
  background: rgba(19, 27, 174, 0.7);
  color: #fff;
  padding: 20px;
}

/* Responsive breakpoint. */
@media all and (max-width: 800px) {

  nav ul {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  nav li {
    flex: 1 1 50%;
  }

  nav li.social-nav {
    flex: 1 1 33.33333%;
  }

}

@media all and (max-width: 650px) {

  .signup-form form {
    flex-wrap: wrap;
  }

  form input {
    flex: 1 1 40%;
    margin: 5px;
    max-width: 175px;
  }

  form input[type="submit"] {
    flex-basis: 50%;
  }

}

@media all and (max-width: 550px) {

  form input {
    max-width: 150px;
  }

}